.Scrollable {
  display: grid;
  overflow-x: scroll;
}

.ScrollableContainer {
  column-gap: 30px;
  display: grid;
  grid-auto-flow: column;
}

.Buttons {
  display: flex;
  justify-content: space-between;
  margin: 45px 30px 0 30px;
}

.Button {
  color: #444;
  cursor: pointer;
  font-family: "IBMPlexSans-SemiBold";
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
}
