.Question {
    font-size: 14px;
    margin-bottom: 30px;
}

.Text {
    margin: 0 0 15px 0;
}

.Error {
    color: #EB2A00;
}

.Options {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
}

.Option {
    align-items: center;
    background-color: #dadada;
    display: flex;
    justify-content: center;
    min-height: 45px;
    padding: 0 5px;
    text-align: center;
}

.Selected {
    color: #EEE;
    background-color: #00A9EF;
}