.NavMenu {
    background-color: #00A9EF;
    box-sizing: border-box;
    color: #eee;
    height: 100vh;
    padding: 30px;
    position: absolute;
    transition: transform 0.3s ease-out;
    width: 100vw;
    z-index: 10;
}

.Close {
    transform: translateX(-100%);
}

.Open {
    transform: translateX(0);
}

.NavList {
    font-family: "IBMPlexSans-Bold", sans-serif;
    font-size: 24px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.NavListItem {
    cursor: pointer;
    margin-bottom: 30px;
}

.NavListItem:hover, .NavListItem:active, .NavListItem:focus {
    color: #444;
}

.Link {
    color: #eee;
    text-decoration: none;
}