.Close {
    background-image: url(../../../assets/images/close-overlay-button.svg);
    cursor: pointer;
    height: 20px;
    margin-bottom: 50px;
    width: 20px;
}

.Close:active, .Close:focus, .Close:hover {
    background-image: url(../../../assets/images/close-overlay-button-active.svg);
}