.Details {
  color: white;
  grid-column: 1;
  text-align: left;
  text-decoration: none;
}

.Compare {
  grid-column: 1;
  text-align: left;
}

.Clear {
  grid-column: 1;
  text-align: left;
}

.Favorite {
  grid-column: 2;
  text-align: right;
}
