.Links {
  display: flex;
  justify-content: space-between;
  margin: 30px 0 0 0;
}

.LinksComparison {
  display: flex;
  justify-content: space-between;
  margin: 15px 0 0 0;
}

.Link {
  color: #444;
  font-family: "IBMPlexSans-SemiBold";
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
}

.ErrorLink {
  display: block;
  text-align: center;
}

.Text {
  font-family: "IBMPlexSans-Regular";
  font-size: 14px;
  margin: 0 0 30px 0;
}
