.MenuToggle {
    background-image: url(../../../assets/images/menu-toggle-button.svg);
    cursor: pointer;
    height: 12px;
    margin: 30px;
    position: absolute;
    width: 30px;
    z-index: 5;
}

.MenuToggle:active, .MenuToggle:focus, .MenuToggle:hover {
    background-image: url(../../../assets/images/menu-toggle-button-active.svg);
}