.Label {
  display: block;
  font-family: "IBMPlexSans-Semibold", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}

.InputGroup {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr;
  margin: 15px 0 30px 0;
}

.InputText {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  box-sizing: border-box;
  font-family: "IBMPlexSans-Regular", sans-serif;
  font-size: 14px;
  height: 45px;
  padding: 0 15px;
  width: 100%;
}

.InputTextError {
  background-color: #eb2a00;
  color: #eee;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.Select {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  box-sizing: border-box;
  display: block;
  font-family: "IBMPlexSans-Regular", sans-serif;
  font-size: 14px;
  height: 45px;
  margin: 15px 0 30px 0;
  padding: 0 15px;
  width: 100%;
}

.ButtonGroup {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr;
  margin: 50px 0 0 0;
}

.Button {
  -webkit-appearance: none;
  appearance: none;
  background: none;
  border: none;
  color: white;
  font-family: "IBMPlexSans-Semibold", sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  width: 100%;
}

.ButtonLeft {
  text-align: left;
}

.ButtonRight {
  text-align: right;
}
