.Text {
    font-family: 'IBMPlexSans-Regular';
    font-size: 14px;
    margin: 0 0 30px 0;
}

.Draggable {
    background-color: #dadada;
    height: 45px;
    line-height: 45px;
    margin: 0 0 15px 0;
    text-align: center;
}