@font-face {
  font-family: "IBMPlexSans-Regular";
  src: local("IBMPlexSans-Regular"), url("./assets/fonts/IBMPlexSans-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "IBMPlexSans-SemiBold";
  src: local("IBMPlexSans-SemiBold"), url("./assets/fonts/IBMPlexSans-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "IBMPlexSans-Bold";
  src: local("IBMPlexSans-Bold"), url("./assets/fonts/IBMPlexSans-Bold.ttf");
  font-weight: 700;
}

body {
  font-family: "IBMPlexSans-Regular", sans-serif;
  margin: 0;
  padding: 0;
}